<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org
http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="../static/css/style.css"
        th:href="@{../css/style.css}" rel="stylesheet" media="screen"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <script>
    function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
  }
  </script>
  <title>Nomeca</title>
</head>
<body>
<nav id="navbar">
  <div class="container">
    <ul>
      <li><div class="cont-dark">
        <label class="switch"><input type="checkbox" onClick="myFunction()"/><div></div>
        </label>
      </div></li>
      <li><a href="../../principal">Inicio</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Ubicaciones</a>
        <div class="dropdown-content">
          <a style="font-size: 15px;" href="../ubicacion/list-activas">Ubicaciones activas</a>
          <a style="font-size: 15px;" href="../ubicacion/list-previas">Ubicaciones previas</a>
          <a style="font-size: 15px;" href="../../ubicacion/mis-ubicaciones">Ubicaciones favoritas</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Servicios</a>
        <div class="dropdown-content">
          <a style="font-size: 15px;" href="../../servicios/InfoServicios">Servicios Disponibles</a>
          <a style="font-size: 15px;" href="../../servicios/servicios-activos">Servicios activos</a>
        </div>
      </li>
      <li><a href="../../servicios/info">Noticias</a></li>
      <li><a href="../../servicios/eventos">Eventos</a></li>
      <li><a href="../meteorologia">Meteorologia</a></li>
    </ul>
  </div>
</nav>
<p align="right">
  <a href="../ubicacion/deleteGrupo" class="btn-add-ubic">Eliminar ubicaciones de un grupo.</a>
</p>
<button class="btn-atras" style="margin-top: 15px;" onclick="history.back()">Volver atrás</button>
  <div class="titulo-activas">
  <h1>Grupos de Ubicaciones </h1>
</div>
<div class="container-activas">
<div class="activa">
  <br />
  <h2>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbspGrupo: &nbsp<span style="color:darkorange" th:text="${Visitadas}"></span></h2>
  <h3>&nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp<span style="color:#AE5B12" th:text="${ubicVisitadas}"></span></h3>
  <h2>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbspGrupo:&nbsp<span style="color:#F0411C" th:text="${NoVisitadas}"></span></h2>
  <h3>&nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp<span style="color:#AE5B12" th:text="${NoubicVisitadas}"></span></h3>
  <h2>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp Grupo:&nbsp<span style="color:#F05C1C" th:text="${Favoritos}"></span></h2>
  <h3>&nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp<span style="color:#AE5B12" th:text="${ubicFavoritas}"></span></h3>
  <br/>
</div><br/>
</div>
</body>
</html>