<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org
http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="../../static/css/style.css"
        th:href="@{../../css/style.css}" rel="stylesheet" media="screen"/>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script>
    function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
    var btn = document.getElementsByClassName("btn");
    var i;
    for (i = 0; i < btn.length; i++) {
    btn[i].classList.toggle("dark-mode-btn");
}
  }
  </script>
  <title>Nomeca</title>
</head>
<body style="margin-bottom: 10%;">
<nav id="navbar">
  <div class="container">
    <ul>
      <li><div class="cont-dark">
        <label class="switch"><input type="checkbox" onClick="myFunction()"/><div></div>
        </label>
      </div></li>
      <li><a href="../../principal">Inicio</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Ubicaciones</a>
        <div class="dropdown-content">
          <a style="font-size: 15px;" href="../../../ubicacion/list-activas">Ubicaciones activas</a>
          <a style="font-size: 15px;" href="../../ubicacion/list-NoActivas">Ubicaciones No activas</a>
          <a style="font-size: 15px;" href="../../../ubicacion/list-previas">Historial de Ubicaciones</a>
          <a style="font-size: 15px;" href="../../../ubicacion/mis-ubicaciones">Ubicaciones favoritas</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Servicios</a>
        <div class="dropdown-content">
          <a style="font-size: 15px;" href="../../../servicios/InfoServicios">Servicios Disponibles</a>
          <a style="font-size: 15px;" href="../../../servicios/servicios-activos">Servicios activos</a>
        </div>
      </li>
      <li><a href="../../../servicios/info">Noticias</a></li>
      <li><a href="../../../servicios/eventos">Eventos</a></li>
      <li><a href="../../meteorologia">Meteorologia</a></li>
    </ul>
  </div>
</nav>
<button class="btn btn-atras" style="margin-top: 15px;" onclick="history.back()">Volver atrás</button>
<div class="btn-mis-ubic3">
  <a th:href="@{'../../servicios/activar-servicio-ubic/'+${toponimo}}" class="btn btn-elim-ubic">Activar servicio</a>
</div>
  <div class="titulo-met">
  <h1>Información <i class="fas fa-map"  style='font-size:34px; margin-left: 3%'></i></h1>
</div>
<div class="container-met">
<div class="met">
  <p>Ciudad: <span style="color:orange" th:text="${ciudad}"></span></p>
  <p>Provincia: <span style="color:orange" th:text="${provincia}"></span></p>
  <p>Código postal: <span style="color:orange" th:text="${codigo}"></span></p>
</div>
<div class="met">
  <p>Longitud: <span style="color:orange" th:text="${longitud}"></span></p>
  <p>Latitud: <span style="color:orange" th:text="${latitud}"></span></p>
  <p>Alias: <span style="color:orange" th:text="${alias}"></span></p>
</div>
</div>
<h2>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<span style="color:orange" th:text="${mensaje}"></span></h2>
<div class="titulo-met">
  <h1>Servicios disponibles <i class="fas fa-cloud"  style='font-size:34px; margin-left: 3%'></i></h1>
</div>
<div style="width: 50%; margin: auto;" class="activa">
  <tr th:each="servicio: ${listaServicios}">
    <p>Servicio:
      <a th:text="${servicio.key}" th:href="${servicio.value}" class="btn btn-desactivar3"></a>
      <a th:href="@{'/ubicacion/infoUbicacion/'+${toponimo}+'/'+${servicio.key}}" class="btn btn-desactivar2">Desactivar</a>
    </p>

  </tr>
</div>
</body>
</html>