<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org
http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="../static/css/style.css"
        th:href="@{../css/style.css}" rel="stylesheet" media="screen"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <script>
    function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
    var btn = document.getElementsByClassName("btn-info-noticia");
    var i;
    for (i = 0; i < btn.length; i++) {
    btn[i].classList.toggle("dark-mode-btn");
}
  }
  </script>
  <title>Nomeca</title>
</head>
<body>
<nav id="navbar">
  <div class="container">
    <ul>
      <li><div class="cont-dark">
        <label class="switch"><input type="checkbox" onClick="myFunction()"/><div></div>
        </label>
      </div></li>
      <li><a href="../../principal">Inicio</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Ubicaciones</a>
        <div class="dropdown-content">
          <a href="../../ubicacion/list-activas">Ubicaciones activas</a>
          <a href="../../ubicacion/list-previas">Ubicaciones previas</a>
            <a href="../../ubicacion/mis-ubicaciones">Ubicaciones favoritas</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Servicios</a>
        <div class="dropdown-content">
          <a href="/servicios/InfoServicios">Servicios Disponibles</a>
          <a href="/servicios/servicios-activos">Servicios activos</a>
        </div>
      </li>
      <li><a href="../../servicios/info">Noticias</a></li>
      <li><a href="../meteorologia">Meteorologia</a></li>
    </ul>
  </div>
</nav>
  <div class="titulo-noticias">
  <h1>Eventos</h1>
</div>

<blockquote class="blckquoteo">
  <p align="left">&nbsp &nbsp &nbsp Nombre: <span style="color:orange" th:text="${name}"></span><br />
    &nbsp &nbsp &nbsp Tipo: <span style="color:orange" th:text="${type}"></span><br />
    &nbsp &nbsp &nbsp Localidad: <span style="color:orange" th:text="${location}"></span><br />
    &nbsp &nbsp &nbsp Informacion: <span style="color:orange" th:text="${info}"></span></p><br />
</blockquote>

<blockquote class="blckquoteo">
  <p align="left">&nbsp &nbsp &nbsp Nombre: <span style="color:orange" th:text="${nam}"></span><br />
    &nbsp &nbsp &nbsp Tipo: <span style="color:orange" th:text="${typ}"></span><br />
    &nbsp &nbsp &nbsp Localidad: <span style="color:orange" th:text="${locatio}"></span><br />
    &nbsp &nbsp &nbsp Informacion: <span style="color:orange" th:text="${inf}"></span></p><br />
</blockquote>

<blockquote class="blckquoteo">
  <p align="left">&nbsp &nbsp &nbsp Nombre: <span style="color:orange" th:text="${nom}"></span><br />
    &nbsp &nbsp &nbsp Tipo: <span style="color:orange" th:text="${tip}"></span><br />
    &nbsp &nbsp &nbsp Localidad: <span style="color:orange" th:text="${local}"></span><br />
    &nbsp &nbsp &nbsp Informacion: <span style="color:orange" th:text="${infor}"></span></p><br />
</blockquote>
<div class="buscar-evento-container">
  <h1>Eventos en ...</h1>
  <form action="../../servicios/list_event" method="post" class="add-form">
    <label for="nombre" class="add-label">Introduce el topónimo</label><br>
    <input class="add-input" type="text" id="nombre" name="nombre" placeholder="Topónimo"><br>
    <input id="btn-add-ubic" class="btn-add-ubic" type="submit" value="Continuar">
  </form>
</div>
<br />

</body>
</html>