<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org
http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="../static/css/style.css"
        th:href="@{../css/style.css}" rel="stylesheet" media="screen"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <script>
    function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
    var btn = document.getElementsByClassName("btn");
    var i;
    for (i = 0; i < btn.length; i++) {
    btn[i].classList.toggle("dark-mode-btn");
}
  }
  </script>
  <title>Nomeca</title>
</head>
<body>
<nav id="navbar">
  <div class="container">
    <ul>
      <li><div class="cont-dark">
        <label class="switch"><input type="checkbox" onClick="myFunction()"/><div></div>
        </label>
      </div></li>
      <li><a href="../../principal">Inicio</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Ubicaciones</a>
        <div class="dropdown-content">
          <a style="font-size: 15px;" href="../ubicacion/list-activas">Ubicaciones activas</a>
          <a style="font-size: 15px;" href="../../ubicacion/list-NoActivas">Ubicaciones No activas</a>
          <a style="font-size: 15px;" href="../ubicacion/list-previas">Historial de Ubicaciones</a>
          <a style="font-size: 15px;" href="../../ubicacion/mis-ubicaciones">Ubicaciones favoritas</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Servicios</a>
        <div class="dropdown-content">
          <a style="font-size: 15px;" href="/servicios/InfoServicios">Servicios Disponibles</a>
          <a style="font-size: 15px;" href="/servicios/servicios-activos">Servicios activos</a>
        </div>
      </li>
      <li><a href="../../servicios/info">Noticias</a></li>
      <li><a href="../../servicios/eventos">Eventos</a></li>
      <li><a href="../meteorologia">Meteorologia</a></li>
    </ul>
  </div>
</nav>
<button class="btn btn-atras" style="margin-top: 15px;" onclick="history.back()">Volver atrás</button>
<a href="../../servicios/ActivarServicio" class="btn btn-act-serv">Activar servicio</a>
</br>
<form action="/servicios/InfoServicios" method="post" class="add-form">
  <input type="hidden" id="speech" name="speech" value="Si"><br>
  <input id="btn-add-ubic" class="btn btn-add-grupo" type="submit" value="Text-speech">
</form>

<div class="titulo-noticias">
  <h1 align="center">Servicios Disponibles</h1>
</div>

<div class="div-servc">
<blockquote class="blckquoteo">
  <h3 class="titulo-servc">Nombre: <span class="text-servc" th:text="${nameserv1}"></span></h3>
  <h3 class="titulo-servc">Descripción: <span class="text-servc" th:text="${descserv1}"></span></h3><br />
</blockquote>
<blockquote class="blckquoteo">
  <h3 class="titulo-servc">Nombre: <span class="text-servc" th:text="${nameserv2}"></span></h3>
  <h3 class="titulo-servc">Descripción: <span class="text-servc" th:text="${descserv2}"></span></h3><br />
</blockquote>
<blockquote class="blckquoteo">
  <h3 class="titulo-servc">Nombre: <span class="text-servc" th:text="${nameserv3}"></span></h3>
  <h3 class="titulo-servc">Descripción: <span class="text-servc" th:text="${descserv3}"></span></h3><br />
</blockquote>
<blockquote class="blckquoteo">
  <h3 class="titulo-servc">Nombre: <span class="text-servc" th:text="${nameserv4}"></span></h3>
  <h3 class="titulo-servc">Descripcion: <span class="text-servc" th:text="${descserv4}"></span></h3><br />
</blockquote>
</div>

</div>
</body>
</html>