<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org
http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="../static/css/style.css"
        th:href="@{../../css/style.css}" rel="stylesheet" media="screen"/>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script>
    function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
    var btn = document.getElementsByClassName("btn");
    var i;
    for (i = 0; i < btn.length; i++) {
    btn[i].classList.toggle("dark-mode-btn");
}
  }
  </script>
  <title>Nomeca</title>
</head>
<body>
<nav id="navbar">
  <div class="container">
    <ul>
      <li><div class="cont-dark">
        <label class="switch"><input type="checkbox" onClick="myFunction()"/><div></div>
        </label>
      </div></li>
      <li><a href="../../principal">Inicio</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Ubicaciones</a>
        <div class="dropdown-content">
          <a style="font-size: 15px;" href="../../ubicacion/list-activas">Ubicaciones activas</a>
          <a style="font-size: 15px;" href="../../ubicacion/list-NoActivas">Ubicaciones No activas</a>
          <a style="font-size: 15px;" href="../../ubicacion/list-previas">Historial de Ubicaciones</a>
          <a style="font-size: 15px;" href="../../ubicacion/mis-ubicaciones">Ubicaciones favoritas</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Servicios</a>
        <div class="dropdown-content">
          <a style="font-size: 15px;" href="/servicios/InfoServicios">Servicios Disponibles</a>
          <a style="font-size: 15px;" href="/servicios/servicios-activos">Servicios activos</a>
        </div>
      </li>
      <li><a href="../../servicios/info">Noticias</a></li>
      <li><a href="../../servicios/eventos">Eventos</a></li>
      <li><a href="../../meteorologia">Meteorologia</a></li>
    </ul>
  </div>
</nav>
<button class="btn btn-atras" style="margin-top: 15px;" onclick="history.back()">Volver atrás</button>
  <div class="titulo-met">
  <h1>Metereología <i class="fas fa-cloud"  style='font-size:34px; margin-left: 3%'></i></h1>
</div>

<div class="container-met">
<div class="met">
  <p>Ubicacion: <span style="color:orange" th:text="${ciudad}"></span></p>
  <p>Fecha: <span style="color:orange" id="currentDate"></span></p>
  <p>Temperatura: <span style="color:orange" th:text="${temp}"></span> ºC</p>
  <p>Descripcion: <span style="color:orange" th:text="${descripcion}"></span></p>
</div>
<div class="met">
  <p>Clima: <span style="color:orange" th:text="${clim}"></span></p>
  <p>Humedad: <span style="color:orange" th:text="${hum}"></span> g/m3</p>
  <p>Viento: <span style="color:orange" th:text="${velaire}"></span> m/s</p>
  <p>Presion: <span style="color:orange" th:text="${pres}"> </span> PA</p>
</div>
</div>
<h3>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp<span style="color:orange" th:text="${mensaje}"></span></h3>

<script>
    var today = new Date();
    var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    document.getElementById("currentDate").innerHTML = date;
    var today = new Date();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    document.getElementById("currentTime").innerHTML = time;
</script>
</body>
</html>